<footer class="site__footer">
  <div class="wrapper">
    &copy; GetSimple CMS &nbsp;&nbsp;&bull;&nbsp;&nbsp; <a href="{{meta.siteurl}}/privacy-policy">Privacy Policy</a> 
  </div>
  {{#> footer}}
  {{/footer}}
</footer>