---
id: about
title: About
---

{{#> default }}
<p>GetSimple is an open-source project licensed under the <a
    href="https://www.gnu.org/licenses/gpl-3.0.txt">GNU GENERAL PUBLIC
    LICENSE v3</a>.</p>

<ol>
  <li><strong>XML Based</strong><br>
    We don't use mySQL to store our information, but instead depend the
    simplicity of XML. By utilizing XML, we are able stay away from introducing
    an extra layer of slowness and complexity associated with connecting to a
    mySQL database. Because GetSimple was built specifically for the small-site
    market, we feel this is the absolutely best option for data storage.</li>
  <li><strong>You can "Undo" Almost Everything</strong><br>
    This feature was based off an eye-opening <a
      href="https://www.alistapart.com/articles/neveruseawarning">AListApart</a>
    article explaining how
    warning messages never work as planned. Because of this, we've included
    "undo" into almost every action you can take on the site, giving you
    peace-of-mind for when you make those inevitable stupid mistakes.</li>

  <li><strong>Easy to Learn UI</strong><br>
    The top priority when designing our user-interface was to make it the best
    in it's class. We had the luxury of trying and testing all the competing
    management systems before designing ours, so we took the best out of each
    one - then refined it.</li>

  <li><strong>Simple Installation</strong><br>
    The total time in setting up a website took a total of 5 minutes, from
    starting the FTP to finishing the setup procedure.</li>

  <li><strong>Simple Theme Customization</strong><br>
    We have how to documents that show you how to create a custom theme. Our
    goal was not to bloat our software with hundreds of little-used theme
    functions, but to offer more than enough to allow for a fully customized
    theme.</li>

  <li><strong>Designed For the Small-Site Market</strong><br>
    This is one of the reasons GetSimple uses XML rather than a robust database
    such as mySQL. For most small businesses, their only real need is to be able
    to easily update their site without the need of a ton of extraneous rarely
    used features. GetSimple's goal is to manage small websites efficiently and
    effectively.</li>
</ol>
{{/default}}