---
id: contribute
title: Contribute to the community
howto:
  - title: Help out on the Forums
    desc: Far and away, the best thing you can do for GetSimple is to help others in need on our forums. There is always an influx of new users, and sometimes the amount of questions is simply overwhelming.
  - title: Donate
    desc: Donations help us keep GetSimple free and also allow us to dedicate more time to the ongoing development of the application. We also will add you to our Sponsors Page if your donation is $25 or more!
  - title: Advertise with us
    desc: If you have your own site, consider buying a month or two worth of . This is a great way to contibute to our community while at the same promoting yourself.
  - title: Link back to GetSimple
    desc: |
      If you use GetSimple, we would appreciate if you at least give us a link back from either your site or some other site such as a blog post or launch announcement. Any links back to GetSimple will help us increase our visibility and in turn get us more new users.
      If you want to use a logo to link back, use these.
  - title: Socialize with us!
    desc: Consider liking us on Facebook, following us on Twitter, or giving us a +1 on Google Plus.
  - title: Become a team member
    desc: Contribute to the project on github, become a moderator in the forums, or create plugins or share solutions for other members.
---

{{#> default }}
  <ul>
    {{#each page.howto}}
    <li>
      <strong>{{ title }}</strong> &emdash; {{ desc }}
    </li>
    {{/each}}
  </ul>
{{/default }}